configure :development do
  set :title, 'berkes` gallery'
  set :cache_dir, 'photos'

  #create a new serialised session with "$ ruby autodrop_session_creator.rb"
  set :session, '
  '
end

configure :production do
  set :title, 'berkes` gallery'
  set :cache_dir, 'photos'

  #create a new serialised session with "$ ruby autodrop_session_creator.rb"
  set :session, '
  '
end

