configure :development do
  set :title, 'berkes` gallery'

  #create a new serialised session with "$ ruby autodrop_session_creator.rb"
  set :session, '
  '

  # Best not to change these, unless you know what you are doing.
  # They are here not so much as config options, but to avoid hardcoding them all over.
  set :cache_dir, 'photos'
  set :memoization, 'false'
  
  # Disqus developer, to allow local development with disqus enabled. 
  set :disqus_developer, 1
end

configure :production do
  set :title, 'berkes` gallery'

  #create a new serialised session with "$ ruby autodrop_session_creator.rb"
  set :session, '
  '

  # Best not to change these, unless you know what you are doing.
  # They are here not so much as config options, but to avoid hardcoding them all over.
  set :cache_dir, 'photos'
  set :memoization, 'true'
  
  # Disqus developer must be disabled on production!
  set :disqus_developer, 0
end
