configure :development do
  set :title, 'berkes` gallery'

  #create a new serialised session with "$ ruby autodrop_session_creator.rb"
  set :session, '
  '

  # Best not to change these, unless you know what you are doing.
  # They are here not so much as config options, but to avoid hardcoding them all over.
  set :cache_dir, 'photos'
  set :memoization, 'false'
end

configure :production do
  set :title, 'berkes` gallery'

  #create a new serialised session with "$ ruby autodrop_session_creator.rb"
  set :session, '
  '

  # Best not to change these, unless you know what you are doing.
  # They are here not so much as config options, but to avoid hardcoding them all over.
  set :cache_dir, 'photos'
  set :memoization, 'true'
end
