#directories
  - @images.each do |img|
    %div{ :class => "preview"}
      %a{ :href => "#{img.permalink}",
          :style => "background-image: url('#{img.src('m')}');"}
        %span
          = img.path

