%a{ :name => @image.title }
%h2
  = @image.title
.thumb
  %a{ :title => @image.title,
      :href => @image.src('l')}
    %img{ :src => @image.src('l'),
          :alt => @image.title,
          :title => @image.title }
  .info
    %p.description @TODO: exif parsing.006
    %p.meta
      %a.short-name{ :href => @image.permalink } #
      %a.hi-res{ :href => @image.src('l') } Hi-Res Image
      %span.embed
        embed
        %input{:class => "embed-code",
               :type => "text",
               :size => "24",
               :value => "&lt;a href=&quot;http://flickr.webschuur.com//Dour09/#zeil_is_cool_achtergrondje.jpg&quot;&gt;&lt;img src=&quot;http://flickr.webschuur.com//data/Dour09/web/zeil_is_cool_achtergrondje.jpg&quot; alt=&quot;zeil_is_cool_achtergrondje&quot; title=&quot;zeil_is_cool_achtergrondje&quot; border=&quot;0&quot; /&gt;&lt;/a&gt;"}

