%h1 Hello!
#directories
  - @galleries.each do |gallery|
    %div{ :class => "preview"}
      %a{ :href => "#{gallery.path}",
          :style => "background-image: url('#{gallery.thumb('m')}');"}
        %span
          = gallery.title

