%html
  %head
    %title
      Webschuur.com. PHOTOS  &ndash;
      = options.title
    %link{  :rel => "stylesheet",
            :href =>"http://flickr.webschuur.com//themes/fuckflickr/css/stylesheet.css",
            :type   => "text/css",
            :media  => "screen",
            :charset => "utf-8"}
  %body
    #container
      #header
        #logo
          %a{:href => "/"}
            %img{:src => "http://flickr.webschuur.com/themes/fuckflickr/images/logos/flickr.jpg"}
      #navigation
        %a{:href => "http://flickr.webschuur.com/rss",
            :title => "RSS feed of new adds",
            :class => "rss"}
          %img{:src => "http://flickr.webschuur.com//themes/fuckflickr/images/feed-icon32x32.png"}
        %a{:href => "http://flickr.webschuur.com/"}
          = options.title
    #main
      = yield
    #footer
      Content licensed under a
      %a{:rel => "license",
         :href => "http://creativecommons.org/licenses/by-nc-sa/3.0/"}
        Creative Commons Attribution-Noncommercial-Share Alike 3.0 Licens
      \%emdash; powered by
      %a{:href => "http://fffff.at/fuckflickr-info"}
        Autodrop

