$light: #fff;
$dark: #666;
$highlight: #ff0085;

$gutter_l: 20px;
$gutter_r: 20px;

@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

body {
  font-size: 10px;
  font-family: Geneva, Arial, sans-serif;
  color: $dark;
}

a {
  color: blue;
  &:hover {
    background-color: $highlight;
    color: white;
  }
}

img {
  border: 0;
  }

#container {
  min-width: 980px;
}

#header {
  float:left;
  padding: 0 $gutter_l 10px $gutter_r;
  border-bottom: 1px solid $dark;
  min-width: 980px;
  @include clearfix;

  #logo {
    float: left;
    a {
      margin: 2px 0 5px 0;
    }
  }
  h1 {
    float: left;
    padding: 0 2em;
    font-size: 2em;
  }
}

#main {
  padding: 20px $gutter_l 20px $gutter_r;
  clear: both;
}

#footer {
  padding-top: 60px;
  clear: both;
  color: $dark;
}

#directories {
  margin: 10px 0 20px 0;
  padding: 5px 10px;
  min-height: 25px;

  .preview {
    a {
      float: left;
      position: relative;
      top: 0px;
      left: 0px;
      display: block;
      border: 5px solid transparent; /* pimped out on hover */
      width: 110px;  /* 120px - 2*border */
      height: 70px; /* 80px - 2*border */
      background-position: -5px -5px;
      overflow: hidden;
      text-align: center;
      background-color: black;
      margin: 0 6px 5px 0;
      padding-top: 10px;
      text-decoration: none;
      &:hover {
        border: 5px solid $highlight;
      }

      span {
        background-color: $light;
        color: $dark;
        padding: 2px 4px;
      }
    }
  }
}

#images {
  clear: both;
  padding: 20px 0;
  .selected {
    background: #fcf;
  }
}

.meta {
  padding: 0;
  margin-bottom: 30px;
  }
.hi-res {
  margin-left: 5px;
  }
.embed {
  margin-left: 8px;
  }

